@import '../../style/mixins';
@import '../../style/variables';

.about__banner {
    &__image {
        height: 223px;
        width: 100%;
        object-fit: cover;
        @include big-radius;
    }
}
@media (max-width: 600px) {
    .about__banner {
        &__image {
            height: 111px;
            @include small-radius;
}
}
}