@import '../../style/mixins';
@import '../../style/variables';

.headerWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	@media (max-width: 850px) {
		margin: 20px
	}
	&__fig {
		@media (max-width: 600px) {
			margin: 0;
		}
	}
	img {
		@media (max-width: 600px) {
			width: 150px;
		}
	}

}